<ion-view hide-nav-bar="true">
    <ion-content class="login-main">
        <div class="app-logo-container">
          <div>APPFABRIKKEN</div>
        </div>
        <form>
            <ion-list>
                <ion-item class="item-input validate-item" ng-class="{'error' : errorsLogin.email}">
                    <input type="email" placeholder="Email" ng-model="loginData.email.value"></input>
                </ion-item>
                <ion-item class="item-input validate-item" ng-class="{'error' : errorsLogin.password}">
                    <input type="password" placeholder="Password" ng-model="loginData.password.value"></input>
                </ion-item>
                <h3 class="error-text" ng-repeat="err in errorsLogin track by $index" ng-if="!$index">{{err}}</h3>             
                <ion-item class="login-button-container">
                    <button class="button button-block button-light" ng-click="doLogin();">Log in</button>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
