/* ---------------------------*/
/* ---------- MAIN ---------- */
/* ---------------------------*/

/* Components */
.error{
    border-color: red !important;
}
.validate-item{
    border: none;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0px;
}
.error-text{
    color: red;
    font-size: 15px;
    text-align: center;
    height: 10px;
    margin: 10px;
}
.button-clear{
    color: #007aff;
}

.item-avatar{
    border: none;
    .hide-border-item{
        width: 75%;
        height: 2px;
        position: absolute;
        bottom: 0px;
        right: 18px;
        background: #ddd;
        z-index: 120000;
    }
    .hide-border-item-last{
        width: 100%;
        right: 0px;
        bottom: -1px;
    }
}
.footer-text-header{
    margin: 3px 15px;
}
.footer-text-container{
    padding: 10px;
    margin: 0px auto;
    border-radius: 3px;
    width: 95%;
    background:#fff;
    -webkit-box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
}
.list-item-container{
    margin: 10px auto 0px;
    width: 95%;
    -webkit-box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
}
.footer-text-title{
    text-align: center;
    width: 100%;
    margin: 10px;
    font-size: 20px;
}
.scroll-go-to{
    position: absolute;
    top:60px;
    width: 100%;
    text-align: center;
    display: none;
    span{
        padding: 3px 15px;
        margin: auto;
        border-radius: 20px;
        background: #7EAF53;    
        -webkit-box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
        -moz-box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
        box-shadow: 4px 4px 10px -6px rgba(0,0,0,0.63);
        color: #fff;
        font-weight: bold;
    }
}