/* ---------------------------*/
/* ---------- VARIABLES ---------- */
/* ---------------------------*/

$primary-color: #f7f7f8; // navbar and login background
$menu-color:#2F4050;
$primary-active-color: #0B6E28; // navbar and login background active
$main-font-color: rgba(0, 0, 0, 0.541176);
$dark-font-color: rgba(0, 0, 0, 0.876);
$secondary-color: #FFFFFF; // sub header and footer bar
$tertiary-color: #B4B4B4; // main button color
$tertiary-color-light: #EFEFEF; // main button color when is actived
$grey-dark: #494949;
$grey-medium: #999;
$grey-light: #D5D5D5;
$dark-color: #000;
$color-facebook: #3B5998;
$color-red: #EE3B51;
$color-green: #27AE60;
$blue: rgb(76, 180, 235);
$main-font: 'Conv_Roboto-Medium';

$main-vertical-spacing: 20px;
